body {
  margin: 0;
  font-family: Arial;
  background: #f1f3f6;
  background-image:url("photo100.jpg") ;
  background-size: cover;
}

.title {
  text-align: center;
  padding: 15px;
  background: linear-gradient(to right, #2874f0, #ff9900);
  color: white;
}

.container {
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
  .container {
}

.card {
  background: #ff9900;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  font-size: 16px;
}

.card p {
  color: green;
  font-weight: bold;
}

button {
  background: green;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e68a00;
}
.one {
  background-image: black;
  
}